<h1>Editing Clipsource EIDR Replacement</h1>

<% form_for(@clipsource) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'entry', :locals	=> {:f => f} 	%>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @clipsource %> |
<%= link_to 'Back', clipsources_path %>