  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.label :css, "CSS" %><br />
    <%= f.text_field :css %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :seach %><br />
    <%= f.check_box :seach %>
  </p>
  <p>
    <%= f.label :workflow %><br />
    <%= f.check_box :workflow %>
  </p>