<%= javascript_include_tag 'qtobject.js' %>
<% content_for(:title) do%>
	Promo Details: MuVi2 Database
<% end %>
<h1>Media File</h1>
<b><%=h @media_file.name %></b><br/>

<% if params[:upload] == 'true' %>
  <% form_tag({:action => :upload_file, :id => @media_file, :source => params[:source], :on_demand_id => params[:on_demand_id],
                                        :index_search => params[:index_search], :index_page => params[:page], 
                                        :on_demand_filename => params[:on_demand_filename], :channel => params[:channel], 
                                        :on_air_date => params[:on_air_date], :show_all => params[:show_all], :show_no_media => params[:show_no_media]}, :multipart => true) do %>
		<p>
			<b>Media File:</b><br/>
		<%= file_field_tag 'file', {:size => 60} %><br/>
		<%= submit_tag("Upload") %>
		</p>
	<% end %>
<% end %>

<%= render :partial => 'shared/media_file', :locals	=> {:media_file => @media_file, :extended => true, :source => params[:source], 
                                                          :dynamic_special_media_id => params[:dynamic_special_media_id],
                                                          :show_details => false, :show_upload => !params[:upload]} 	%>

<%= link_to 'Edit', edit_media_file_path(@media_file) %> |
<% if params[:source] == 'promo index'%>
	<%= link_to 'Back', promos_path %>
<% else %>
	<%= link_to 'Back', :back %>
<% end %>
