<label><%=h @message %></label><br/>
<%= link_to 'Remove all today', remove_all_special_from_schedule(params[:part], display_date, params[:channel], params[:show], source, false, params[:search], params[:template], params[:start_date], 
                                                                      params[:end_date], params[:start_time], params[:end_time], params[:part_ids], params[:minimum_gap], params[:replace], @ads_available, 
                                                                      @ads_all, params[:priority_ids]), :confirm => 'Are you sure you want to remove all specials on this date?' %> |
<%= link_to 'Remove all this week', remove_all_special_from_schedule(params[:part], display_date, params[:channel], params[:show], source, true, params[:search], params[:template], params[:start_date], 
                                                                      params[:end_date], params[:start_time], params[:end_time], params[:part_ids], params[:minimum_gap], params[:replace], @ads_available, 
                                                                      @ads_all, params[:priority_ids]), :confirm => "Are you sure you want to remove all specials on this week, beginning #{monday_this_week(display_date)}" %> |
<%= link_to 'Placings today', placing_with_date_and_channel(display_date, display_date, params[:channel])%> |
<%= link_to 'Placings this week', placing_with_date_and_channel(monday_this_week(display_date), one_week(monday_this_week(display_date)), params[:channel])%> 
<div id = 'special-schedule'>
<table>
  <%- this_day = day_header(Date.parse(display_date))%>
  <tr><td colspan = 3><div class ='day_heading'><%= h this_day %></div></td></tr>
  <tr>
    <th>Time</th>
    <th>Title</th>
    <th>Specials</th>
  </tr>

  <% @press_lines.each do |press_line| %>
      <td><%=h format_date_time(press_line.start, "%H:%M") %></td>
      <td width = '200'><%=h press_line.display_title %></td>
      <td>
        <table>
        <% press_line.specials.each do |special|%>
          <tr>
            <td width = 80><%=h special.tx_time.to_s(:broadcast_hm) unless special.tx_time.nil? %></td>
            <td width = 80><%=h special.part.name unless special.part.nil? %></td>
            <td width = 200><%=h special.automated_dynamic_special.name unless special.automated_dynamic_special.nil?%></td>
            <td><%= link_to 'Remove', remove_special_from_schedule(special.id, params[:part], display_date, params[:channel], params[:show], source, params[:search], params[:template], params[:start_date], 
                                                                      params[:end_date], params[:start_time], params[:end_time], params[:part_ids], params[:minimum_gap], params[:replace], @ads_available, @ads_all), :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>
        </table>
      </td>
    </tr>
  <% end %>
</table>
</div>