<% content_for(:title) do%>
	Dynamic Special Schedule
<% end %>

<fieldset>
<legend>Dynamic Special Schedule</legend>

<%= calendar_date_select_includes "custom", :locale=>'uk' %>

<% display_date = params[:priority_date] || Time.new.to_s(:broadcast_date_full_month) %>
<%- session[:priority_date] = display_date %>
<%- session[:priority_channel] = params[:channel] %>
<%- session[:priority_show] = params[:show] %>

<% form_tag schedule_press_lines_path, :method =>'get' do %>
	
		<%= calendar_date_select_tag :priority_date, display_date, {:month_year => :label, :after_close => 'this.form.submit()'} %>
		<%= select_tag :channel, options_for_select(@channel_display, params[:channel]),{:onchange => 'this.form.submit()'}%>
		<%= select_tag :show, options_for_select(@filter_display, params[:show]),{:onchange => 'this.form.submit()'}%> <br/>
    <%= link_to 'Previous day', special_schedule_with_date(previous_day(display_date), params[:channel], params[:show], params[:template], params[:part]) %> | 
		<%= link_to 'Next day', special_schedule_with_date(next_day(display_date), params[:channel], params[:show], params[:template], params[:part]) %> <br/>
</fieldset>
<br/>
<label><%=h @message %></label><br/>
<%= link_to 'Remove all', remove_all_special_from_schedule(params[:part], display_date, params[:channel], params[:show], :schedule), :confirm => 'Are you sure you want to remove all specials on this date?' %> |
<%= link_to 'Placings today', placing_with_date_and_channel(display_date, display_date, params[:channel])%> |
<%= link_to 'Placings this week', placing_with_date_and_channel(monday_this_week(display_date), one_week(monday_this_week(display_date)), params[:channel])%> 
<div id = 'random-schedule'>
<table>
  <%- this_day = day_header(Date.parse(display_date))%>
  <tr><td colspan = 3><div class ='day_heading'><%= h this_day %></div></td></tr>
  <tr>
    <th></th>
    <th>Time</th>
    <th>Title</th>
    <th>Specials</th>
  </tr>

<% @press_lines.each do |press_line| %>
  <% if press_line.checked %>
    <%= hidden_field_tag "previous_press_line_ids[]", press_line.id %>
    <tr class = 'selected_special'>
  <% else %>
    <tr>
  <% end %>
    <td><%= check_box_tag "press_line_ids[]", press_line.id, press_line.checked, {:onchange => 'this.form.submit()'}  %></td>
		<td><%=h format_date_time(press_line.start, "%H:%M") %></td>
    <td width = '200'><%=h press_line.display_title %></td>
    <td>
      <table>
      <% press_line.specials.each do |special|%>
        <tr>
          <td width = 80><%=h special.tx_time.to_s(:broadcast_hm) unless special.tx_time.nil? %></td>
          <td width = 80><%=h special.part.name unless special.part.nil? %></td>
          <td width = 200><%=h special.automated_dynamic_special.name unless special.automated_dynamic_special.nil?%></td>
          <td><%= link_to 'Remove', remove_special_from_schedule(special.id, params[:part], display_date, params[:channel], params[:show], 'schedule', params[:search], params[:template], nil, nil, nil, nil, nil, nil, nil, nil), :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
      </table>
    </td>
  </tr>
<% end %>
</table>
</div>
<br />


  
  

<fieldset>
  <legend>Available Specials</legend>  
  <div class = 'pretend-button'>
    <%= link_to 'Random Scheduling', special_random_with_date(display_date, params[:channel], params[:show], params[:template], params[:search], nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil) %>
  </div>
  <p>
    <%= text_field_tag :search, params[:search], :size => 45 %>
    <%= submit_tag "Search", :name => nil %>
    
  </p>
  <%= label_tag :template, 'Template' %>
  <%= select_tag :template, options_for_select(@templates, params[:template]),{:onchange => 'this.form.submit()'} %><br/>
  
  <br/>
  <table>
    <tr>
      <th>Name</th>
      <th>Template</th>
      <th>First Use</th>
      <th>Last Use</th>
      <th>Status</th>
      <th><%= select_tag :part, options_for_select(@parts, params[:part]),{:onchange => 'this.form.submit()'}%><br/></th>
    </tr>

  <% @available.each do |automated_dynamic_special| %>
    <tr>
      <td><%=h automated_dynamic_special.name %></td>
      <td><%=h automated_dynamic_special.template_name %></td>
      <td><%=h automated_dynamic_special.first_use.to_s(:broadcast_datetime) %></td>
      <td><%=h automated_dynamic_special.last_use.to_s(:broadcast_datetime) %></td>
      <td><%=h automated_dynamic_special.short_ready_message[:message] %></td>
      <td><%= link_to 'Add/Replace', add_special_to_schedule(params[:programme], automated_dynamic_special, params[:part], display_date, params[:channel], params[:show], params[:press_line_ids]), :title => 'Add this special to schedule' %></td>
      <td><%= link_to 'Show Special', automated_dynamic_special %></td>
    </tr>
  <% end %>
  </table>
</fieldset>
<% end %>