<p>
	<%= f.label :entry_time %><br />
	<%= f.datetime_select :entry_time %>
</p>
<p>
	<%= f.label :message %><br />
	<%= f.text_field :message %>
</p>

<p>
	<%= f.label :channel_name %><br />
	<%= f.text_field :channel_name %>
</p>
<p>
	<%= f.label :existing_title %><br />
	<%= f.text_field :existing_title %>
</p>
<p>
	<%= f.label :clipsource_title %><br />
	<%= f.text_field :clipsource_title %>
</p>
<p>
	<%= f.label :eidr, "EIDR" %><br />
	<%= f.text_field :eidr %>
</p>
<p>
	<%= f.label :house_number %><br />
	<%= f.text_field :house_number %>
</p>