<h1>New house number</h1>

<% form_for(@house) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => 'entry', :locals	=> {:f => f, :h => @house} 	%>
	
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<% if @house.source == 'comparison' %>
	<%= link_to 'Return to comparison', comparison_path_with_filter_and_filename %>
<% elsif @house.source == 'schedule comparison' %>
	<%= link_to 'Return to comparison', schedule_comparison_path_with_filter_and_filename %>
<% else %>  
	<%= link_to 'Back', houses_path %>
<% end %>


<% if params[:search].nil? %>
	<div id ='search_title' , style = "display: none;" >
<% else %>
	<div id ='search_title'>
<% end %>
<h1>Programme Titles</h1>
<% if @house.source == 'comparison' 
		path = { :action => :new_from_comparison, :id => @house.comparison_id}
	else
		path = new_house_path
	end %>
		

<% form_tag new_house_path, :method =>'get' do %>
<p>
	<%= text_field_tag :search, params[:search]||@house.english_title, :size => 45 %>
	<%= hidden_field_tag :house_number, @house.house_number %>
	<%= hidden_field_tag :source, @house.source %>
	<%= hidden_field_tag :schedule_comparison_id, @house.schedule_comparison_id %>
	<%= hidden_field_tag :comparison_id, @house.comparison_id %>
	<%= hidden_field_tag :press_id, @house.press_id %>
	<%= submit_tag "Search", :name => nil %>
</p>			
<% end %>

<%= render :partial => 'shared/titles', :locals => {:include_add => false } %>
</div>