  <%= calendar_date_select_includes "custom", :locale=>'uk' %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 80 %>
  </p>
  <p>
    <%= f.label :channel_id, 'Channel' %><br />
    <%= f.collection_select (:channel_id, @channels, :id, :name, {:prompt => 'Choose a channel'})%>
  </p>
  <p>
    <%= f.label :last_use %><br />
    <%= f.calendar_date_select :last_use, {:month_year => :label} %><br/>
  </p>
  <p>
    <%= f.label :dynamic_special_template_id, 'Template' %><br />
    <%= f.collection_select (:dynamic_special_template_id, @templates, :id, :name, {:prompt => 'Choose a template'})%>
  </p>

  <%= link_to_function('Show/hide archive') {|page| page['show-archive'].toggle} %>
  <div id = 'show-archive', style = "display: none;">
  <p>
    <%= f.label :archive %><br />
    <%= f.check_box :archive %>
  </p>
  </div>