

<% if automated_dynamic_special_fields.count > 0 %>

<% if !@automated_dynamic_special.short_ready_message[:valid] %>
  <table class = 'field_issues'>
      <tr><th class = 'field_issues'>Field Issues</th></tr>
      <% @automated_dynamic_special.short_ready_message[:details].each do |detail| %>
          <tr><td class = 'field_issues'><%= h detail %></td></tr>
      <% end %>
  </table>
<% end %>

<div id = 'show-field'><%= link_to_function ('Show fields that cannot be changed') {|page| page.select('.fixed-field').each {|x| x.toggle}; page['show-field'].toggle; page['hide-field'].toggle} %></div>
<div id = 'hide-field', style = 'display: none;'><%= link_to_function ('Hide fields that cannot be changed') {|page| page.select('.fixed-field').each {|x| x.toggle}; page['show-field'].toggle; page['hide-field'].toggle} %></div>

<table>
	<tr>
    <th>Field No</th>
    <th>Field Name</th>
    <th>Field Type</th>
    <th></th>
    <th>Value<br/>
        <div id = 'show-link'><%= link_to_function ('Show filenames') do |page|
              page.select('.show-filenames').each do |x|
                x.toggle()
              end
              page['show-link'].toggle
              page['hide-link'].toggle
            end %></div>
        <div id = 'hide-link', style = 'display: none;'><%= link_to_function ('Hide filenames') do |page|
              page.select('.show-filenames').each do |x|
                x.toggle()
              end
              page['show-link'].toggle
              page['hide-link'].toggle
            end %></div>
    </th>
  </tr>	
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <div id = 'ads-edit'>
        <% if @edit_field %>    
          <%= link_to 'Finish Edit', automated_dynamic_special_path(@automated_dynamic_special, :index_params => @index_params, :edit_field => false) %>
        <% else %>
          <%= link_to 'Edit Fields', automated_dynamic_special_path(@automated_dynamic_special, :index_params => @index_params, :edit_field => true) %>
        <% end %>
      </div>
    </td>
  </tr>
 <% automated_dynamic_special_fields.each do |field| %>
    <% template = field.template_field_join %>
    <% if template.fixed%>
      <tr class = 'fixed-field', style = 'display: none;'>
    <% else %>
      <tr>
    <% end %>
      <td><%=h template.field %></td>
      <% if template.dynamic_special_field%>
			  <td><%=h template.dynamic_special_field.name %></td>
        <% if template.dynamic_special_field.dynamic_special_image_spec%>
          <td><%=h template.dynamic_special_field.dynamic_special_image_spec.name %></td>
          <% field_type = template.dynamic_special_field.dynamic_special_image_spec %>
        <% end %>
      <% end %>
      <td><%= link_to(image_tag(field.dynamic_special_logo_url, :size => field_type.preview_size), dynamic_special_media_path(field.the_id)) if field.dynamic_special_logo_url %></td>
      <% if template.fixed %>
        <td>
          <% if field_type.name == 'Switcher'%>
            <%=h field.the_value %><br/>
          <% else %>
            <%=h field.the_display %><br/>
          <% end %>
          <% if field_type.logo %>
            <div class = 'show-filenames', style = 'display: none;'><%=h field.logo_full_filename %></div>
          <% else %>
            <div class = 'show-filenames', style = 'display: none;'><%=h field.the_value %></div>
          <% end %>
        </td>
      <% elsif field_type.promo %>
        <td>
          <% promo_dynamic_special_media = @promo_dynamic_special_medias.find { |media| media.id == field.the_id} %>
          <% promo_field = @promo_fields.find { |thefield| thefield.field_number == template.field} %>
          <% if promo_dynamic_special_media && promo_dynamic_special_media.media_file %>
            <b>Media Name: </b><%=h promo_dynamic_special_media.media_file.name %><br/>
            <b>Status: </b><span id = 'image-status'><%=h promo_dynamic_special_media.media_file.status.message if promo_dynamic_special_media.media_file.status %></span><br/>
          <% end %>
          
          <div class = 'show-filenames', style = 'display: none;'><%=h field.promo_full_filename %><br/></div>
          <% if promo_dynamic_special_media %>
            <%= link_to 'View Media', dynamic_special_media_path(promo_dynamic_special_media, :automated_dynamic_special_id => @automated_dynamic_special, :field_id => template.field) %> |
            <% if promo_dynamic_special_media.media_file %>
              <%= link_to 'Upload Media', media_file_path(promo_dynamic_special_media.media_file, :upload => true, :source => 'dynamic_special_media', :automated_dynamic_special_id => @automated_dynamic_special, :dynamic_special_media_id => @promo_dynamic_special_media) %> |
            <% end %>
          <% end %>
          <%= link_to_function ('Choose Media') {|page| page['search_media'].toggle} %> | 
          <%= link_to 'New Media',  :controller => :dynamic_special_medias, :action => :create_from_automated_dynamic_special, :id => @automated_dynamic_special, 
                                    :automated_dynamic_special_id => @automated_dynamic_special.id, :field_type_name => promo_field.field_type_name,
                                    :field_id => promo_field, :index_params => @index_params %></div><br/>

        </td>
      <% else %>
        <td><%= render :partial => 'field', :locals	=> { :field => field, :field_type => field_type } %></td>
      <% end %>
      
      <% if show_links %>	
  			<td><%= link_to 'Edit', edit_template_field_join_path(template, :source => 'template') %></td>
	      <td><%= link_to 'Destroy', template_field_join_path(template, :source => 'template'), :confirm => 'Are you sure?',:method => :delete %></td>
	    <% end %>
		</tr>
	<% end %>
</table>

<% else %>
No fields for this template <br />
<% end %> 
