<% content_for(:title) do%>
	Automated Dynamic Special: MuVi2 Database
<% end %>
<h1>Automated Dynamic Specials</h1>

<fieldset>
	<legend>Automated Dynamic Specials</legend>
		<% form_tag automated_dynamic_specials_path, :method =>'get' do %>
			<p>
				<%= text_field_tag :search, params[:search], :size => 45 %>
				<%= submit_tag "Search", :name => nil %>
			</p>
		<%= label_tag :channel, 'Channel' %> 
    <%= select_tag :channel, options_for_select(@channel_display.insert(0,"All"), 
														params[:channel]),{:onchange => 'this.form.submit()'}%><br/>
		<%= label_tag :show_all, "Show all (including past last use)" %>
		<%= check_box_tag :show_all, value ="1", params[:show_all],{:onchange => 'this.form.submit()'} %><br/>
    <%= label_tag :show_only, "Show only past last use" %>
    <%= check_box_tag :show_only, value ="1", params[:show_only],{:onchange => 'this.form.submit()'} %><br/>
		<% end %>
    <% index_params = {:channel => params[:channel], :search => params[:search], :show_all => params[:show_all], :show_only => params[:show_only]} %>
</fieldset>


<%= will_paginate @dynamic_specials %>
<table>
  <tr>
    <th>Name</th>
    <th>Channel</th>
    <th>Dynamic special template</th>
    <th>Last Use</th>
    <th>Status</th>
  </tr>

<% @automated_dynamic_specials.each do |automated_dynamic_special| %>
  <tr>
    <td><%=h automated_dynamic_special.name %></td>
    <td><%=h automated_dynamic_special.channel_name %></td>
    <td><%=h automated_dynamic_special.template_name %></td>
    <td><%=h automated_dynamic_special.last_use.to_s(:broadcast_date) %></td>
    <td><%=h automated_dynamic_special.short_ready_message[:message] %>
        <% if automated_dynamic_special.short_ready_message[:details].length > 1 %>
          <% div_id_text = "details_" + automated_dynamic_special.id.to_s%>
          <%= link_to_function('Details') {|page| page[div_id_text].toggle}%>
          <%= "<div id = '" + div_id_text + "' style = 'display: none;'>" %> 
          <% automated_dynamic_special.short_ready_message[:details].each do |detail| %>
            <%=h detail %><br/>
          <% end %>
          </div>
        <% end %>
    </td>
    <td><%= link_to 'Show', automated_dynamic_special_path(automated_dynamic_special, :index_params => index_params) %></td>
    <td><%= link_to 'Edit', edit_automated_dynamic_special_path(automated_dynamic_special, :index_params => index_params) %></td>
    <td><%= link_to 'Destroy', automated_dynamic_special_path(automated_dynamic_special, :index_params => index_params), :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Duplicate', :controller => :automated_dynamic_specials, :action => :duplicate, :id => automated_dynamic_special, :index_params => index_params %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @dynamic_specials %>

<%= link_to 'New Automated Dynamic Special', new_automated_dynamic_special_path(:index_params => index_params) %>