<% content_for(:title) do%>
	Automated Dynamic Special: MuVi2 Database
<% end %>

<% show_delete = params[:show_only] == '1' %>

<fieldset>
	<legend>Automated Dynamic Specials</legend>
		<% form_tag automated_dynamic_specials_path, :method =>'get' do %>
			<p>
				<%= text_field_tag :search, params[:search], :size => 45 %>
				<%= submit_tag "Search", :name => nil %>
			</p>
    <table>
      <tr><td><%= label_tag :channel, 'Channel', :id => 'check_label'%> 
              <%= select_tag :channel, options_for_select(@channel_display.insert(0,"All"), 
							            						params[:channel]),{:onchange => 'this.form.submit()', :id => 'check_label'}%></td>
              <td><%= label_tag :template, 'Template', :id => 'check_label'%> 
              <%= select_tag :template, options_for_select(@templates, params[:template]),{:onchange => 'this.form.submit()', :id => 'check_label'}%></td></tr>
      <tr><td><%= label_tag :show_all, "Show all (including past last use)", :id => 'check_label' %>
              <%= check_box_tag :show_all, value ="1", params[:show_all],{:onchange => 'this.form.submit()', :class => 'check_box'} %></td>
          <td><%= label_tag :show_only, "Show only past last use", :id => 'check_label' %>
              <%= check_box_tag :show_only, value ="1", params[:show_only],{:onchange => 'this.form.submit()', :class => 'check_box'} %></td></tr>
      <tr><td><%= label_tag :include_archive, "Include Archived", :id => 'check_label' %>
              <%= check_box_tag :include_archive, value ="1", params[:include_archive],{:onchange => 'this.form.submit()', :class => 'check_box'} %></td>
          <td><%= label_tag :archive_only, "Archived Only", :id => 'check_label' %>
              <%= check_box_tag :archive_only, value ="1", params[:archive_only],{:onchange => 'this.form.submit()', :class => 'check_box'} %></td></tr>
      <tr><td><%= label_tag :show_issues, "Issues only", :id => 'check_label' %>
              <%= check_box_tag :show_issues, value ="1", params[:show_issues],{:onchange => 'this.form.submit()', :class => 'check_box'} %></td></tr>
    </table>
		<% end %>
    <% index_params = {:channel => params[:channel], :search => params[:search], :show_all => params[:show_all], 
                        :show_only => params[:show_only], :show_issues => params[:show_issues], :template => params[:template],
                        :include_archive => params[:include_archive], :archive_only => params[:archive_only]} %>
</fieldset>

<br/>
<%= will_paginate @dynamic_specials %>
<br/>

<% form_tag archive_multiple_automated_dynamic_specials_path(:index_params => index_params), :method => :delete do%>
  <% if show_delete %>
  
    <span class = 'link_button'>
    <%= link_to_function 'Check all', "$$('input.checks').each(function(checkbox) { checkbox.checked = true; });" %> |
    <%= link_to_function 'Uncheck all', "$$('input.checks').each(function(checkbox) { checkbox.checked = false; });" %><br/>
    </span>
    <p>
      <%= submit_tag "Archive all checked", :confirm => "Are you sure you want to archive all checked specials?" %>
    </p>
  
  <% end %>

  <table>
    <tr>
      <% if show_delete %><th></th><% end %>
      <th>Name</th>
      <th>Channel</th>
      <th>Dynamic Special Template</th>
      <th>Last Use</th>
      <th>Status</th>
    </tr>

  <% @automated_dynamic_specials.each do |automated_dynamic_special| %>
    <% if automated_dynamic_special.short_ready_message[:message] != "Good" then row_class = 'dynamic_special_error' end %>
    <tr class = <%= row_class %>>
      <% if show_delete %><td><%= check_box_tag "automated_dynamic_special_ids[]", automated_dynamic_special.id, false , :class => 'checks' %></td><% end %>
      <td><b><%=link_to automated_dynamic_special.name, automated_dynamic_special_path(automated_dynamic_special, :index_params => index_params) %></b></td>
      <td><%=h automated_dynamic_special.channel_name %></td>
      <td><%=h automated_dynamic_special.template_name %></td>
      <td><%=h automated_dynamic_special.last_use.to_s(:broadcast_date) %></td>
      <td><%=h automated_dynamic_special.short_ready_message[:message] %>
          <% if automated_dynamic_special.short_ready_message[:details].length > 1 %>
            <% div_id_text = "details_" + automated_dynamic_special.id.to_s%>
            <%= link_to_function('Details') {|page| page[div_id_text].toggle}%>
            <%= "<div id = '" + div_id_text + "' style = 'display: none;'>" %> 
            <% automated_dynamic_special.short_ready_message[:details].each do |detail| %>
              <%=h detail %><br/>
            <% end %>
            </div>
          <% end %>
      </td>
      <td><%= link_to 'Show', automated_dynamic_special_path(automated_dynamic_special, :index_params => index_params) %></td>
      <td><%= link_to 'Edit', edit_automated_dynamic_special_path(automated_dynamic_special, :index_params => index_params) %></td>
      <td><% if automated_dynamic_special.archive %>
        Archived
      <% else %>
        <%= link_to 'Archive', archive_automated_dynamic_special_path(automated_dynamic_special, :index_params => index_params), :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
      <td><%= link_to 'Duplicate', :controller => :automated_dynamic_specials, :action => :duplicate, :id => automated_dynamic_special, :index_params => index_params %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<br />
<%= will_paginate @dynamic_specials %>

<%= link_to 'New Automated Dynamic Special', new_automated_dynamic_special_path(:index_params => index_params) %>