<% content_for(:title) do%>
	Automated Dynamic Special: Placings
<% end %>


<%= calendar_date_select_includes "custom", :locale=>'uk' %>

<fieldset>
	<legend>Automated Dynamic Special Placings</legend>
  <% form_tag placing_automated_dynamic_specials_path, :method =>'get' do %>
    <table class = 'date-time-table'>
      <tr>
        <td><%= label_tag :start_date, 'Start Date', :class => 'date-time-table' %></td>
        <td><%= calendar_date_select_tag :start_date, params[:start_date], {:month_year => :label, :class => 'date-time-table', :onchange => 'this.form.submit()'} %></td>
        <td><%= label_tag :end_date, 'End Date', :class => 'date-time-table' %></td>
        <td><%= calendar_date_select_tag :end_date, params[:end_date], {:month_year => :label, :class => 'date-time-table', :onchange => 'this.form.submit()'} %></td>
        <td><%= select_tag :channel, options_for_select(@channel_display, params[:channel]),{:class => 'date-time-table', :onchange => 'this.form.submit()'}%>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>    
          <%= link_to 'Previous day', placing_with_date_and_channel(previous_day(params[:start_date]), previous_day(params[:end_date]), params[:channel]) %> | 
          <%= link_to 'Next day', placing_with_date_and_channel(next_day(params[:start_date]), next_day(params[:end_date]), params[:channel]) %>
        </td>
        </td>
        <td>
        <td>
          <%= link_to 'Same day', placing_with_date_and_channel(params[:start_date], params[:start_date], params[:channel]) %> | 
          <%= link_to 'One Week', placing_with_date_and_channel(params[:start_date], one_week(params[:start_date]), params[:channel]) %>
        </td>
      </tr>
    </table>
  <% end %>
</fieldset>
<br/>
<label class = 'placing-table'><%=h @placing_message %></label>

<table class = 'placing-table'>
  <tr>
    <th class = 'placing-table'>Special</th>
    <th class = 'placing-table'>Placings</th>
  </tr>

  <% @placings.each do |placing| %>
    <tr>
      <td class = 'placing-table'><%=h placing[:special].name %></td>
      <td class = 'placing-table placing-centred'><%=h placing[:count] %></td>
    </tr>
  <% end %>
</table>
