<% content_for(:title) do%>
	Automated Dynamic Special: MuVi2 Database
<% end %>

<h1>Automated Dynamic Special</h1>
<table>
  <tr><td class='dynamic_special_bold'>Name</td><td class='dynamic_special_title'><%=h @automated_dynamic_special.name %></td><td rowspan = '3'></tr>
  <tr><td class='dynamic_special_bold'>Channel</td><td class='dynamic_special_text'><%=h @automated_dynamic_special.channel_name %></td></tr>
  <tr><td class='dynamic_special_bold'>Last Use</td><td class='dynamic_special_text'><%=h @automated_dynamic_special.last_use.to_s(:broadcast_date) unless @automated_dynamic_special.last_use.nil?%></td></tr>
</table>
<br />

<div id = 'show-template'><%= link_to_function ('Show template details') {|page| page.select('.full-template').each {|x| x.toggle}; page['show-template'].toggle; page['hide-template'].toggle} %></div>
<div id = 'hide-template', style = 'display: none;'><%= link_to_function ('Hide template details') {|page| page.select('.full-template').each {|x| x.toggle}; page['show-template'].toggle; page['hide-template'].toggle} %></div>

<%= render :partial => 'template', :locals	=> { :show_links => true} %>

<% if params[:search].nil? %>
  <div id ='search_media' , style = "display: none;" >
<% else %>
  <div id ='search_media'>
<% end %>
    <h1>Dynamic Special Media Files</h1>
    <% if @promo_field %>
      <table>
        <tr>
          <td class = 'dynamic_special_bold'>Field No</td><td class='dynamic_special_text'><%=h @promo_field.field_number %></td>
          <td class = 'dynamic_special_bold'>Image Type</td><td class='dynamic_special_text'><%=h @promo_field.field_type_name %></td>
          <td class = 'dynamic_special bold'><div class = 'larger-link'><%= link_to 'New Media',  :controller => :dynamic_special_medias, :action => :create_from_automated_dynamic_special, 
                                                                                                  :id => @automated_dynamic_special, :automated_dynamic_special_id => @automated_dynamic_special.id, 
                                                                                                  :field_type_name => @promo_field.field_type_name, :field_id => @promo_field %></div></td>
        </tr>
      </table>
    <% end %>

    <% form_remote_tag({:url => automated_dynamic_special_path(@automated_dynamic_special, :index_params => @index_params), :method => :get, :html => {:id => 'search-form'}}) do %>
    <p>
      <%= text_field_tag :search, params[:search], :size => 45 %>
      <%= hidden_field_tag :image_type, params[:image_type] %>
      <%= submit_tag "Search", :name => nil %>
    </p>			
    <% end %>
    <div id = "search_results">
      <%= render :partial => 'dynamic_special_media_files', :locals => {:include_add => true } %>
    </div>
  </div>

<div class = 'larger-link'><%= link_to 'Return to list of Automated Dynamic Specials', automated_dynamic_specials_path(@index_params) %> <br/> </div> 
<%= link_to 'Edit', edit_automated_dynamic_special_path(@automated_dynamic_special) %>
<% if @automated_dynamic_special.special_preview_status == :not_requested %>
  | <%= link_to 'Request preview media',  :controller => :special_previews, :action => :create_from_automated_dynamic_special, 
                                          :id => @automated_dynamic_special, :automated_dynamic_special_id => @automated_dynamic_special.id, 
                                          :index_params => @index_params %>
<% elsif @automated_dynamic_special.special_preview_status == :requested %>
  <h2>Special Preview</h2>
  The preview has been requested. It will appear here within a few hours.<br/>
  <%= link_to 'Remove request', special_preview_path(@automated_dynamic_special.special_preview, :automated_dynamic_special_id => @automated_dynamic_special.id), :confirm => 'Are you sure?', :method => :delete %>
<% elsif @automated_dynamic_special.special_preview_status == :available %>
  <h2>Special Preview</h2>
  <%= render :partial => 'special_preview', :locals => {:media_file => @automated_dynamic_special.special_preview.media_file } %>
  | <%= link_to 'Remove special preview', special_preview_path(@automated_dynamic_special.special_preview, :automated_dynamic_special_id => @automated_dynamic_special.id), :confirm => 'Are you sure?', :method => :delete %>
<% end %>



<%= render :partial => 'demo', :locals => {:dynamic_special_template => @automated_dynamic_special.dynamic_special_template, :message => ''} %>

<% if @automated_dynamic_special.archive %>
  <%= link_to_function('Show fully delete'){|page| page['show-delete'].toggle} %>
  <div id = 'show-delete', style = 'display:none;' >
    <%= link_to 'Fully delete this Automated Dynamic Special', automated_dynamic_special_path(@automated_dynamic_special, :index_params => @index_params), :confirm => 'Are you sure? This is not recommended.', :method => :delete %>
  </div>
<% end %>

<script type="text/javascript">
  window.onload = setUpMyJS;
  function setupRefresh() {
    var status = document.getElementById("image-status");
    if (status != null){
      if(status.textContent == "Ready"){
        setTimeout("refreshPage();", 600000); // milliseconds 10 minutes
      } else {
        setTimeout("refreshPage();", 30000); // milliseconds 30 seconds
      }
    }
  }
  function setUpMyJS(){
    setupRefresh();
    addListenerToFields();
  }
  function refreshPage() {
    window.location = location.href;
  }
  function addListenerToFields(){
    console.log("addListenerToFields")
    var myFields = document.querySelectorAll('[id^="my_text_"]');
    myFields.forEach((myField) => {
      myField.addEventListener("focusout", function(e) {saveValue(myField.id, e)});
      myField.initialValue = myField.value
    });
    var mySelects = document.querySelectorAll('[id^="my_select_"]');
    mySelects.forEach((mySelect) => {
      mySelect.addEventListener("change", function() {saveSelect(mySelect.id)});
    });
  }
  function saveValue(myID, e){
    var nextID = myID.replace("my_text_","my_next_field_");
    var formID = myID.replace("my_text_","edit_automated_dynamic_special_field_");
    var theText = document.getElementById(myID);
    
    if (theText.initialValue != theText.value){
      var theNext = document.getElementById(nextID);
      theNext.value = e.relatedTarget.id
      var myForm = document.getElementById(formID);
      myForm.submit()
    }
  }
  function saveSelect(myID){
    var formID = myID.replace("my_select_","edit_automated_dynamic_special_field_");
    var myForm = document.getElementById(formID);
    myForm.submit()
  }
</script>