<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :value %><br />
  <%= f.text_field :value, :size => "80" %>
</p>
<p>
  <%= f.label :text_value, "Text (long) value" %><br />
  <%= f.text_area :text_value, :size => "80x5" %>
</p>