<% content_for(:title) do%>
	Editing Dynamic Special Media: MuVi2 Database
<% end %>

<h1>Dynamic Special Media</h1>

<% form_for(@dynamic_special_media) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'entry', :locals	=> {:f => f} 	%>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @dynamic_special_media %> |
<%= link_to 'Back', dynamic_special_medias_path %>