  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :page_169, 'Page No. 16:9' %><br />
    <%= f.text_field :page_169 %>
  </p>
  <p>
    <%= f.label :clear_down_169, 'Clear Down 16:9' %><br />
    <%= f.text_field :clear_down_169 %>
  </p>
  <p>
    <%= f.label :page_43, 'Page No. 4:3' %><br />
    <%= f.text_field :page_43 %>
  </p>
  <p>
    <%= f.label :clear_down_43, 'Clear Down 4:3' %><br />
    <%= f.text_field :clear_down_43 %>
  </p>
  <p>
    <%= f.label :duration, 'Duration (seconds)' %><br />
    <%= f.text_field :duration %>
  </p>
  <p>
    <%= f.label :demo, 'Demo Image' %><br />
    <%= f.text_field :demo, :size => 100 %>
  </p>
  <p>
    <%= f.label :help_message, 'Help Message' %><br />
    <%= f.text_field :help_message, :size => 60 %>
  </p>