<% content_for(:title) do%>
	Editing Dynamic Special Template: MuVi2 Database
<% end %><h1>Editing Template</h1>

<% form_for(@dynamic_special_template) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'entry', :locals	=> {:f => f} 	%>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @dynamic_special_template %> |
<%= link_to 'Back', dynamic_special_templates_path %>