<% content_for(:title) do%>
	Dynamic Special Templates: MuVi2 Database
<% end %>
<h1>Dynamic Special Templates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Page 16:9</th>
    <th>Page 4:3</th>
    <th>Duration (s)</th>
    <th>Use ADS</th>
    <th>Use Sports IPP</th>
    <th>Demo Image</th>
  </tr>

<% @dynamic_special_templates.each do |dynamic_special_template| %>
  <tr>
    <td><%=h dynamic_special_template.name %></td>
    <td><%=h dynamic_special_template.page_169 %></td>
    <td><%=h dynamic_special_template.page_43 %></td>
    <td><%=h dynamic_special_template.duration %></td>
    <td><%=h dynamic_special_template.ads %></td>
    <td><%=h dynamic_special_template.sports_ipp %></td>
    <td>
      <%=h dynamic_special_template.help_message %><br/>
      <% if dynamic_special_template.demo %>
        <%= image_tag(dynamic_special_template.demo, :size => '210x150') %>
      <% end %> 
    </td>
    <td><%= link_to 'Show', dynamic_special_template %></td>
    <td><%= link_to 'Edit', edit_dynamic_special_template_path(dynamic_special_template) %></td>
    <td><%= link_to 'Destroy', dynamic_special_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Template', new_dynamic_special_template_path %>