<p>
  <b>Channel:</b>
  <%=h @channel_special_preview.channel_id %>
</p>

<p>
  <b>Special preview:</b>
  <%=h @channel_special_preview.special_preview_id %>
</p>

<p>
  <b>Enable:</b>
  <%=h @channel_special_preview.enable %>
</p>


<%= link_to 'Edit', edit_channel_special_preview_path(@channel_special_preview) %> |
<%= link_to 'Back', channel_special_previews_path %>