<h1>Settins</h1>
<h2>Editing Trailer Tabs</h2>

<% form_for(@trailer_tab_setting) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :field_name %><br />
    <%= f.text_field :field_name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', :back %>