<% content_for(:title) do%>
	Dynamic Special Logo: MuVi2 Database
<% end %>

<h1>Dynamic Special Logo</h1>
<p>
  <b>Name:</b><br/>
  <%=h @dynamic_special_logo.name %>
</p>
<%= image_tag(@dynamic_special_logo.display_url) if @dynamic_special_logo.display_url %>

<p>
  <b>Filename:</b><br/>
  <%=h @dynamic_special_logo.filename %>
</p>
<p>
  <b>Full Filename:</b><br/>
  <%=h @dynamic_special_logo.full_filename %>
</p>
<p>
  <b>Display filename:</b><br/>
  <%=h @dynamic_special_logo.display_filename %>
</p>

<p>
  <b>Dynamic special image spec:</b><br/>
  <%=h @dynamic_special_logo.dynamic_special_image_spec.name if @dynamic_special_logo.dynamic_special_image_spec %>
</p>

<p>
  <b>Language:</b><br/>
  <%=h @dynamic_special_logo.language.name if @dynamic_special_logo.language %>
</p>


<%= link_to 'Edit', edit_dynamic_special_logo_path(@dynamic_special_logo) %> |
<%= link_to 'Back', dynamic_special_logos_path %>