<% content_for(:title) do%>
	Automated Dynamic Special Field: MuVi2 Database
<% end %>
<h1>Editing Automated Dynamic Special Field</h1>

<% form_for(@automated_dynamic_special_field) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'entry', :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @automated_dynamic_special_field %> |
<%= link_to 'Back', automated_dynamic_special_fields_path %>