<p>
  <b>The value:</b>
  <%=h @automated_dynamic_special_field.the_value %>
</p>

<p>
  <b>Automated dynamic special:</b>
  <%=h @automated_dynamic_special_field.automated_dynamic_special_id %>
</p>

<p>
  <b>Template field join:</b>
  <%=h @automated_dynamic_special_field.template_field_join_id %>
</p>


<%= link_to 'Edit', edit_automated_dynamic_special_field_path(@automated_dynamic_special_field) %> |
<%= link_to 'Back', automated_dynamic_special_fields_path %>