  <p>
    <%= f.label :channel_order %><br />
    <%= f.text_field :channel_order %>
  </p>
  <p>
    <%= f.label :channel_id %><br />
    <%= f.collection_select (:channel_id, @channels, :id, :name, {:prompt => true})   %>
  </p>
  
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.label :folder %><br />
    <%= f.text_field :folder, :size => 80 %>
  </p>
  <p>
    <%= f.label :prefix %><br />
    <%= f.text_field :prefix %>
  </p>
  <p>
    <%= f.label :filename %><br />
    <%= f.text_field :filename, :size => 80 %>
  </p>
  <p>
    <%= f.label :spreadsheet_filename %><br />
    <%= f.text_field :spreadsheet_filename, :size => 80 %>
  </p>