<% content_for(:title) do%>
	Generate Status Setting: MuVi2 Database
<% end %>
<p>
  <b>Order:</b>
  <%=h @generate_status_setting.channel_order %>
</p>
<p>
  <b>Channel:</b>
  <%=h @generate_status_setting.channel.name unless @generate_status_setting.channel.nil? %>
</p>

<p>
  <b>Enabled:</b>
  <%=h @generate_status_setting.enabled %>
</p>

<p>
  <b>Folder:</b>
  <%=h @generate_status_setting.folder %>
</p>

<p>
  <b>Prefix:</b>
  <%=h @generate_status_setting.prefix %>
</p>

<p>
  <b>Source Filename</b>
  <%=h @generate_status_setting.filename %>
</p>
<p>
  <b>Spreadsheet Filename</b>
  <%=h @generate_status_setting.spreadsheet_filename %>
</p>
<%= link_to 'Edit', edit_generate_status_setting_path(@generate_status_setting) %> |
<%= link_to 'Back', generate_status_settings_path %>