<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :image, "Has image file" %><br />
  <%= f.check_box :image %>
</p>
<p>
  <%= f.label :width %><br />
  <%= f.text_field :width %>
</p>
<p>
  <%= f.label :height %><br />
  <%= f.text_field :height %>
</p>
<p>
  <%= f.label :resizable %><br />
  <%= f.check_box :resizable %>
</p>
<p>
  <%= f.label :display_folder %><br />
  <%= f.text_field :display_folder %>
</p>
<p>
  <%= f.label :logo, "Is Logo" %><br />
  <%= f.check_box :logo %>
</p>
