

<fieldset>
	<legend>Schedule file</legend>
	<% form_tag({:action => :upload_schedule}, :multipart => true) do %>
		<p>Select the schedule file to process:</p>
  	<%= file_field_tag 'schedule', {:size => 60} %><br/>
		<%= submit_tag("Process") %>
	<% end %>
</fieldset>
<br/>
<% if false %>
<fieldset>
	<legend>Schedule file (V4 Norway Only)</legend>
	<% form_tag({:action => :upload_schedule_v4}, :multipart => true) do %>
		<p>Select the schedule file to process:</p>
  	<%= file_field_tag 'schedule', {:size => 60} %><br/>
		<%= submit_tag("Process") %>
	<% end %>
</fieldset>
<fieldset>
	<%= calendar_date_select_includes "custom", :locale=>'uk' %>
	<legend>Web access Press File</legend>
	<% form_tag ({:action => :web_upload_press_file}) do%>
		<p>
			<%= calendar_date_select_tag :press_date, params[:press_date], :month_year => :label %>
		</p>
		<%= select_tag :channel, options_for_select(@channels, params[:channel])  %><br/>
		<%= submit_tag("Process") %>
	<% end %>
</fieldset>
	
<fieldset>
	<%= calendar_date_select_includes "custom", :locale=>'uk' %>
	<legend>Web access Clipsource</legend>
	<% form_tag ({:action => :web_upload_clipsource}) do%>
		<p>
			<%= calendar_date_select_tag :press_date, params[:press_date], :month_year => :label %>
		</p>
		<%= select_tag :channel, options_for_select(@channels, params[:channel])  %><br/>
		<%= submit_tag("Process") %>
	<% end %>
</fieldset>
<% end %>
<br/>
<fieldset>
	<%= calendar_date_select_includes "custom", :locale=>'uk' %>
	<legend>Web access XML Clipsource</legend>
	<% form_tag ({:action => :web_upload_xml_clipsource}) do%>
		<p>
			<%= calendar_date_select_tag :press_date, params[:press_date], :month_year => :label %>
		</p>
		<%= select_tag :channel, options_for_select(@channels, params[:channel])  %><br/>
		<%= submit_tag("Process") %>
	<% end %>
</fieldset>
